/* custom.css */
.scrollbar-custom::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
.scrollbar-custom {
    scrollbar-color: rgba(0, 0, 0, 0.2) transparent;
    /* For Firefox */
    scrollbar-width: thin;
    /* For Firefox */
}